*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(240, 237, 237);
}

h1{
    text-align: center;
    padding-top: 15px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    margin-top: 20px;
    flex: 80%;
    margin-left: 20px;
    padding-left:20px;
    height:50px;
    background-color: white;
    font-weight: bold;
}

button.add{
    margin-top: 20px;
    flex: 20%;
    height: 50px;
    margin-right: 20px;
    background: rgb(8, 174, 8);
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button:hover{
    border: 0.1px solid black;
}

.item{
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-content: center;
}

.clicado .item-nome{
    background-color: rgb(145, 241, 145);
    text-decoration: line-through;
}

.item-icone{
  flex: 10%;
  text-align:center;
  padding: 12px;
  margin-left:20px;
}

.item-nome{
    flex: 70%;
    font-weight: bold;
    padding: 12px;
    background-color: white;
}

.item-botao{
    flex:20%;
}

.trash ,.fi-rr-trash-xmark{
    background: red;
    padding: 12px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 20px;
}

